#ka {
    color: red;
    background-color: black;
    font-size: 100px;
}

h1 {
    font-size: medium;
    font-weight: 900;
    font-family: horror;
    font-size: 100px;
    padding: 10px;
}

@font-face {
    font-family: horror;
    src: url(./Another\ Danger\ -\ Demo.otf);
    /*.otg ka folder lene ke liye :- google per search fancy horror free dowload then open and copy afterthen pest in folder and h1 me apply karne ke liye font-family and @font-face ka fontfamily name same hona chahiye */
}

.pa {
    color: blueviolet;
    background-color: aqua;
    font-size: 20;
}

p {
    font-size: 50px;
}

@font-face {
    font-family: shreyians;
    src: url(./HelloChristmas-1Ge70.ttf);
    /*.ttp ke liye search karenge fontspace.com*/
}

div {
    font-size: 50px;
    font-family: shreyians;
    height: 500px;
    width: 600px;
    background-color: black;
    color: red;
    margin-left: 20px;
    text-align: center;
}

#box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-transform: lowercase;
}

#box2 {
    background: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
    /*3 type of gradient linear,radial,conic*/
    height: 100px;
    width: 200px;
}

#outer {
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    position: relative;
    /* position absolute jis element me laga hai vo kahi bhi move kar sakata hai
    but ager hame kisi element ke ander hi move karana hai to us element me position relative agayenge.*/
}

#inner {
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;
    left: 20%;
}

#main {
    background-image: url(https://i.pinimg.com/originals/3d/a7/a1/3da7a11be8bc9b0d08e2098fdd3a5f29.jpg);
    background-size: cover;
    /*ager image portal rahegi yani usaka height jayda hoga to usake liye background-size: cover; with backgroung-postion:center; use karna hoga */
}

#car1 {
    left: 50%;
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;
    /* jo element absolute hota hai vo uth jata hai yani space khaliho jati hai,ager hamne us element ko move kiya to vo kasi ke uper bhi aajata hai.
    jis element mepositio absolute apply hua rahta hai only usi element me let,right,top,bottom,z-index kam karta hai.*/
}

#car2 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    left: 40%;
    /* is per left nahi kam kiya becouse postion absolute nahi use kiya hai*/
}

#car3 {
    height: 200px;
    width: 200px;
    background-color: pink;
}

#homepage {
    width: 100%;
    height: 3000px;
    background-color: black;
}

#child {
    width: 100%;
    height: 1500;
    background-color: blueviolet;
}

#sticky {
    position: sticky;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    top: 10%;
}